* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: content-box;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}