* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px;
}

h1 {
    font-size: 36px;
    margin-bottom: 28px;
}

button {
    font-size: 16px;
    padding: 2px 12px;
    margin-bottom: 32px;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}