* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 28px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 28px;
}

.button-container {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    gap: 24px;

}

button {
    font-size: 16px;
    padding: 2px 12px;
}

button.activated {
    background-color: brown;
    color: snow;
}

.container {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}